- var me = "Juan Luis Boya García"
- var fs = require('fs')
- var yaml = require('js-yaml')
- var projects = yaml.safeLoad(fs.readFileSync('projects.yaml', 'utf8'));
- var languages = yaml.safeLoad(fs.readFileSync('languages.yaml', 'utf8'));
- var marked = require('jstransformer')(require('jstransformer-marked'))
- var techDescriptions = yaml.safeLoad(fs.readFileSync('techs.yaml', 'utf8'));
- var thumbMap = calculateThumbMap(projects);

mixin anchor(id)
  a(class='anchor', href='#' + id, title="Link to this headline",
  aria-hidden="true")
    span(class="octicon octicon-link")

mixin link-line(d, name, title, icon)
  if d[name]
    div(class='link-line')
      a(href=d[name], title=title)
        span(class=icon)
        =d[name]

mixin project(d)
  div(class="project", id=d.id)
    div(class="narrow-box")
      h3
        = d.title
        +anchor(d.id)

      span(class='year')= d.year
      ul(class='languages')
        each language in d.languages
          li(title="Written in " + get(languages, language).name)
            = language.toUpperCase()
      if d.technologies
        ul(class='technologies')
          each tech in d.technologies
            li(title=get(techDescriptions, tech))
              = tech
      if d.type == 'document'
        span(class='type') Document

      div(class='links')
        +link-line(d, 'home', "Project homepage", "octicon octicon-home")
        +link-line(d, 'source', "Project source code", "octicon octicon-octoface")
        +link-line(d, 'docs', "Documentation", "octicon octicon-book")
        +link-line(d, 'video', "Video", "octicon octicon-device-camera-video")
        if d.download
          each _, platform in d.download
            +link-line(d.download, platform, "Download for " + platform, "octicon octicon-desktop-download")

      div(class='description')!= marked.render(d.description).body

    if d.images
      - var images = getImageData(d)
      div(class="project-images")
        each image in images
          a(href=image.imageUrl, title=striptags(image.description), class="thumb",
            data-project-id=get(d, 'id'), data-image-key=get(image, 'key'),
            style="width: #{image.thumbSize.width}px; height: #{image.thumbSize.height}px; " +
                    "background-position: #{-thumbMap.thumbPositions[image.id].x}px " +
                                         "#{-thumbMap.thumbPositions[image.id].y}px;")


doctype html
html(lang="en")
  head
    title= me
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    if devMode
      script(src="/livereload.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79954727-1', 'auto');
      ga('send', 'pageview');
body
    div(class="narrow-box")
      h1=me

      :marked
        Hi. I'm a student of *Master of Science in Computer Engineering* living at Salamanca, Spain.

        You can reach me through [GitHub](https://github.com/ntrrgc/) or e-mail at [ntrrgc@gmail.com](mailto:ntrrgc@gmail.com).

    div(class="narrow-box")
      h2(id="education") My education
        +anchor("education")

      :marked
        I studied a *Bachelor's Degree in Computer Engineering* at [University of Salamanca](http://www.usal.es) from 2010 through 2014.

        In the last grade I participated in a four month internship within the University IT staff working as developer and system administrator. My goal there was to implement a system for mail tracking and authentication auditing.

        My Bachelor's final year project was [Snorky](http://snorkyproject.org/), a framework for real-time web applications enabling remote data binding written in Python.

        Since late 2014 I'm studying *Master of Science in Computer Engineering*.

        As part of the [Virtual Alliances for Learning Society](http://virtualalliances.eu/) project I worked with [Inkscape](https://inkscape.org/en/) on the implementation of the [SVG 2 strokes module](http://www.w3.org/TR/svg-strokes/).

        At the moment I'm working on a data visualization project for [HEPData](https://hepdata.net/) in collaboration with [CERN](http://home.cern/) as my final year project.

        Since February 2016 I've been working at [Grupo MContigo](http://mcontigo.com/) designing and developing business process automation software and some yet-to-be released projects.


    div(class="narrow-box")
      h2(id="projects") My projects
        +anchor("projects")

      p Here is a non-exhaustive list of projects I have worked on. There is a bit of everything here. Some took months, other took hours.

      h3(id="projects-toc") Table of contents
        +anchor("projects-toc")
      ol
        each project_data in projects
          li
            a(href='#' + project_data.id)= project_data.title + '.'

    each project_data in projects
      +project(project_data)

    div(class="narrow-box")
      footer
        div It seems you have reached the end!
        div
          span(class='octicon octicon-heart')
        a(class='elevator-button', href="#") Go to top

    div(id="image-viewer")
      div(id="image-viewer-controls")
        div(id="image-viewer-img-container")
        a(id="image-viewer-prev")
          span(class="octicon octicon-chevron-left")
          span(class="alt") Previous image
        a(id="image-viewer-next")
          span(class="octicon octicon-chevron-right")
          span(class="alt") Next image
      div(id="image-viewer-text")
        div(id="image-viewer-project-name")
        div(id="image-viewer-description")

    script(src="elevator.min.js")
    script(src="jquery-1.11.3.min.js")
    script(src="lodash.min.js")
    script.
      var imagesData = !{JSON.stringify(getAllImageData(projects))};
    script(src="portfolio.js")